[submodule "third_party/glslang"]
	path = third_party/glslang
	url = https://github.com/hbirchtree/glslang
[submodule "third_party/spirv-headers"]
	path = third_party/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "third_party/spirv-tools"]
	path = third_party/spirv-tools
	url = https://github.com/hbirchtree/SPIRV-Tools
